/*
 * Center filter bar and add search icon.
 */
#filter-bar {
    display: block;
    margin: auto;
    width: 75%;
    height: 40px;
    font-size: 24px;
    border-radius: 20px;
    padding: 0 50px;
    background-image: url("searchicon.png");
    background-size: 24px;
    background-position:15px;
    background-repeat: no-repeat;
}

/*
 * Removes bullet points and center aligns the pokemon list
 */
#poke-list {
    list-style-type: none;
    text-align: center;
}

/*
 * Puts the pokemon list items in a grid format with a margin and
 * aligning vertically on the bottom
 */
#poke-item {
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
}