/*Copyright 2020, Rachel Phuong*/

/*
 * Center filter bar and add search icon.
 */
#filter-bar {
    display: block;
    margin: 3% auto 1%;
    width: 33%;
    height: 40px;
    font-size: 24px;
    border-radius: 20px;
    padding: 0 50px;
    background-image: url("resources/searchicon.png");
    background-size: 24px;
    background-position:15px;
    background-repeat: no-repeat;
}

/*
 * Remove bullet points and center-align the pokemon list
 */
#poke-list {
    list-style-type: none;
    text-align: center;
    width: 70%;
    margin: auto;
}

/*
 * Put the pokemon list items in a grid format with a margin and
 * aligning vertically on the bottom
 */
#poke-item {
    display: inline-block;
    vertical-align: bottom;
    margin: 30px;
    text-transform: capitalize;
    font-size: 20px;
}

/*
 * Remove the blue underline formatting from links
 */
a {
    color: black;
    text-decoration: none;
}

/*
 * For the top of the detail page, make the background light gray, align text center, etc.
 */
#detail-top {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*
 * For any header 1, capitalize and reduce margins
 */
h1 {
    text-transform: capitalize;
    margin: 2px;
}

/*
 * For the list of types, remove bullets, position each element next to each other
 */
#types {
    list-style: none;
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

/*
 * For each type of the type list, capitalize, make inline with each other,
 * and make the box brown with rounded corners
 */
#type {
    text-transform: capitalize;
    display: inline-block;
    padding: 10px;
    background-color: #2d282c;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}

/*
 * For the paragraphs, remove top/bottom margin
 */
p {
    margin: 0 auto;
}

/*
 * For the bottom of the detail page, display the items in a grid fashion
 */
#detail-bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
}

/*
 * For the spans moves and abilities, add padding
 */
span#moves, span#abilities {
    padding: 10px;
}

/*
 * For the unordered lists moves and abilities, remove bullets, display inline-block,
 * and make the list items left-aligned
 */
ul#moves, ul#abilities {
    list-style: none;
    display: inline-block;
    text-align: left;
}

/*
 * For any header 2, make the text center-aligned
 */
h2 {
    text-align: center;
}